<button class="rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium">
  Connect Outlook Calendar
</button>

<%= link_to :google_oauth_redirect, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" do %>
  Connect Google Calendar
<% end %>
