<div>
  <h2 class="text-3xl mb-12">
    Hvilke kalendre vil du hente fra?
  </h2>

  <ul>
    <% @calendar_list&.each do |calendar| %>
      <li>
        <%= link_to microsoft_events_url calendar_id: calendar["id"] do %>
          <%=  calendar["name"] %> (<%=  calendar["id"] %>)
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
